{% load static %}

<link rel="stylesheet" href="{% static 'assets/libs/simplebar/simplebar.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/nouislider/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style">
<link rel="stylesheet" href="{% static 'assets/css/icons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}" id="app-style">

<!-- Tu CSS personalizado -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/house-custom.css' %}" />

