{% extends "partials/layouts/master_auth.html" %}
{% load static %}

{% include "partials/main.html" %}

{% block meta %}
  {% with title="Verificación de dos pasos" %}
    {% include "partials/title-meta.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100 pt-20 pb-10">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card mx-xxl-8 shadow-none">
        <div class="card-body p-8">
          <h3 class="fw-medium text-center">Revisa tu bandeja de entrada</h3>
          <p class="mb-8 text-muted text-center">Ingresa el código de 4 dígitos que enviamos a tu correo.</p>
          <form>
            <div id="otp-container" class="d-flex align-items-center justify-content-center gap-2">
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digit 1" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digit 2" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digit 3" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digit 4" />
            </div>
            <a href="restablecer_contrasena.html" class="btn btn-primary w-100 mt-6">Verificar correo</a>
          </form>
          <p class="text-center mt-6 mb-0 text-muted fs-13">
            ¿No recibiste el código? <a href="verificar_correo.html" class="link fw-semibold">Reenviar</a>
          </p>
        </div>
      </div>
      <p class="position-relative text-center fs-13 mb-0">
        © <script>document.write(new Date().getFullYear());</script>
      </p>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="/static/assets/js/auth/two-step-verification.init.js"></script>
{% endblock js %}
