{% extends "partials/layouts/master_auth.html" %}
{% load static %}

{% include "partials/main.html" %}

{% block meta %}
  {% with title="Verificación de dos pasos" %}
    {% include "partials/title-meta.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100 pt-20 pb-10">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card mx-xxl-8 shadow-none">
        <div class="card-body p-8">
          <img src="/static/assets/images/auth/email.png" alt="Email Image" class="h-56px w-56px mx-auto d-block mb-3" />
          <h3 class="fw-medium text-center">Autenticación de dos pasos</h3>
          <p class="text-muted text-center mb-8">El código de 6 dígitos enviado al número móvil <strong class="text-body">info@gmail.com</strong></p>
          <form>
            <div id="otp-container" class="d-flex align-items-center justify-content-center gap-2 mb-6">
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 1" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 2" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 3" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 4" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 5" />
              <input type="text" class="form-control text-center min-h-50px max-w-64px border rounded" placeholder="0" data-otp-input maxlength="1" inputmode="numeric" pattern="[0-9]" aria-label="OTP digito 6" />
            </div>
            <a href="restablecer_contrasena.html" class="btn btn-primary w-100">Restablecer contraseña</a>
          </form>
          <p class="text-center mt-6 mb-0 text-muted fs-13">
            ¿No recibiste el código? <a href="javascript:void(0)" class="link fw-semibold">Reenviar</a>
          </p>
        </div>
      </div>
      <p class="position-relative text-center fs-13 mb-0">
        © <script>document.write(new Date().getFullYear());</script>
      </p>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="/static/assets/js/auth/two-step-verification.init.js"></script>
{% endblock js %}
